<a href="https://colab.research.google.com/github/soumitra-python/python/blob/python/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
# Assign String to a Variable
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string:
# Example
a = "Hello"
print(a)

Hello

In [ ]:
# Multiline Strings
# Example
# You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Strings are Arrays
# Like many other popular programming languages, strings in Python are arrays of unicode characters.

# However, Python does not have a character data type, a single character is simply a string with a length of 1.

# Square brackets can be used to access elements of the string.

# Example
# Get the character at position 1 (remember that the first character has the position 0):

a = " H ello, World!"
print(a[3])

e

In [ ]:
# Looping Through a String
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

# Example
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
# String Length
# To get the length of a string, use the len() function.

# Example
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

In [ ]:
# Check String
# To check if a certain phrase or character is present in a string, we can use the keyword in.

# Example
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")
else:
  print("not present in veriable")

Yes, 'free' is present.

In [ ]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
### Slicing string

In [ ]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[::2])

Hlo ol!

In [ ]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[::-1])

!dlroW ,olleH

In [ ]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[-3:-7])

In [ ]:
# Get the characters:

# From: "o" in "World!" (position -5)

# To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
# H    e   l   l   o  ,     W  o  r  l   d    !
# 0    1   2   3   4  5  6  7  8  9  10  11  12
#-12  -11 -10  -9 -8 -7 -6 -5 -4  -3  -2 -1  0

print(b[10:-3])

In [ ]:
### string Function

In [ ]:
# Case Changing Methods:
# lower(): Converts all uppercase characters in the string to lowercase.
# upper(): Converts all lowercase characters in the string to uppercase.
# capitalize(): Capitalizes the first character of the string and converts the rest to lowercase.
# title(): Converts the string to title case, where the first letter of each word is capitalized.
# swapcase(): Swaps the case of all characters in the string (uppercase to lowercase, and vice versa).
# Searching and Counting Methods:
# find(substring): Returns the lowest index of the first occurrence of the substring. Returns -1 if not found.
# rfind(substring): Returns the highest index of the last occurrence of the substring. Returns -1 if not found.
# count(substring): Returns the number of occurrences of the substring in the string.
# Modification and Formatting Methods:
# replace(old, new): Returns a new string where all occurrences of old are replaced with new.
# strip(): Returns a new string with leading and trailing whitespace removed.
# lstrip(): Returns a new string with leading whitespace removed.
# rstrip(): Returns a new string with trailing whitespace removed.
# split(separator): Splits the string into a list of substrings based on the separator.
# join(iterable): Concatenates the elements of an iterable (e.g., a list of strings) using the string as a separator.
# format(...): Formats the string by inserting values into placeholders.
# Checking Methods (return True or False):
# isdigit(): Returns True if all characters in the string are digits.
# isalpha(): Returns True if all characters in the string are alphabetic.
# isalnum(): Returns True if all characters in the string are alphanumeric.
# isspace(): Returns True if all characters in the string are whitespace.
# startswith(prefix): Returns True if the string starts with the specified prefix.
# endswith(suffix): Returns True if the string ends with the specified suffix.

In [ ]:
# | Function            | Description                                     |
# | ------------------- | ----------------------------------------------- |
# | `len()`             | Returns the length of a string                  |
# | `lower()`           | Converts all characters to lowercase            |
# | `upper()`           | Converts all characters to uppercase            |
# | `title()`           | Converts first letter of each word to uppercase |
# | `capitalize()`      | Converts first character to uppercase           |
# | `strip()`           | Removes leading and trailing spaces             |
# | `lstrip()`          | Removes leading spaces                          |
# | `rstrip()`          | Removes trailing spaces                         |
# | `replace(old, new)` | Replaces substring with another                 |
# | `split(sep)`        | Splits string into a list                       |
# | `join(iterable)`    | Joins elements with a string separator          |
# | `find(sub)`         | Returns index of first occurrence of substring  |
# | `index(sub)`        | Same as `find()`, but raises error if not found |
# | `count(sub)`        | Counts occurrences of substring                 |
# | `startswith(sub)`   | Checks if string starts with substring          |
# | `endswith(sub)`     | Checks if string ends with substring            |
# | `isalnum()`         | True if all characters are alphanumeric         |
# | `isalpha()`         | True if all characters are alphabetic           |
# | `isdigit()`         | True if all characters are digits               |
# | `isspace()`         | True if string contains only spaces             |
# | `swapcase()`        | Swaps case of all letters                       |
# | `center(width)`     | Centers the string with spaces                  |
# | `zfill(width)`      | Pads string on the left with zeros              |
# | `format()`          | Formats string using placeholders               |
# | `encode()`          | Encodes the string (e.g., UTF-8)                |

In [ ]:
# String Functions Example
text = "  Hello Python Programming  "

print("Original String:", text)
print("1. Length:", len(text))
print("2. Lowercase:", text.lower())
print("3. Uppercase:", text.upper())
print("4. Stripped:", text.strip())
print("5. Replace:", text.replace("Python", "World"))
print("6. Split:", text.split())
print("7. Find 'Python':", text.find("Python"))
print("8. Count 'o':", text.count("o"))
print("9. Starts with '  He':", text.startswith("  He"))
print("10. Is Alpha:", text.isalpha())

# Using join and format
words = ['Python', 'is', 'fun']
print("11. Join:", " ".join(words))
print("12. Format:", "Welcome to {}!".format("Python"))

Original String:   Hello Python Programming
1. Length: 28
2. Lowercase:   hello python programming
3. Uppercase:   HELLO PYTHON PROGRAMMING
4. Stripped: Hello Python Programming
5. Replace:   Hello World Programming
6. Split: ['Hello', 'Python', 'Programming']
7. Find 'Python': 8
8. Count 'o': 3
9. Starts with '  He': True
10. Is Alpha: False
11. Join: Python is fun
12. Format: Welcome to Python!

In [ ]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
# String Format
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

# ExampleGet your own Python Server
# age = 36
# #This will produce an error:
# txt = "My name is John, I am "+ age
# print(txt)

# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# /tmp/ipython-input-3090696050.py in <cell line: 0>()
#       5 age = 36
#       6 #This will produce an error:
# ----> 7 txt = "My name is John, I am "+ age
#       8 print(txt)

# TypeError: can only concatenate str (not "int") to str

In [ ]:
# F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

# To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

# Example
# Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
# F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

# To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

# Example
# Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
# A placeholder can include a modifier to format the value.

# A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

# Example
# Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
# Perform a math operation in the placeholder, and return the result:

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

# txt = "We are the so-called "Vikings" from the north."

#   File "/tmp/ipython-input-624176816.py", line 3
#     txt = "We are the so-called "Vikings" from the north."
#                                  ^
# SyntaxError: invalid syntax

In [ ]:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

In [ ]:

# Code   	Result
# \'	    Single Quote
# \\	    Backslash
# \n	    New Line
# \r	    Carriage Return
# \t	    Tab
# \b	    Backspace
# \f	    Form Feed
# \ooo	  Octal value
# \xhh	  Hex value

In [ ]:
# Method                          	Description
# capitalize()            Converts the first character to upper case
# casefold()            	Converts string into lower case
# center()              	Returns a centered string
# count()               	Returns the number of times a specified value occurs in a string
# encode()	              Returns an encoded version of the string
# endswith()	            Returns true if the string ends with the specified value
# expandtabs()          	Sets the tab size of the string
# find()	                Searches the string for a specified value and returns the position of where it was found
# format()	              Formats specified values in a string
# format_map()	          Formats specified values in a string
# index()	                Searches the string for a specified value and returns the position of where it was found
# isalnum()	              Returns True if all characters in the string are alphanumeric
# isalpha()	              Returns True if all characters in the string are in the alphabet
# isascii()	              Returns True if all characters in the string are ascii characters
# isdecimal()	            Returns True if all characters in the string are decimals
# isdigit()	              Returns True if all characters in the string are digits
# isidentifier()	        Returns True if the string is an identifier
# islower()	              Returns True if all characters in the string are lower case
# isnumeric()	            Returns True if all characters in the string are numeric
# isprintable()           Returns True if all characters in the string are printable
# isspace()	              Returns True if all characters in the string are whitespaces
# istitle()             	Returns True if the string follows the rules of a title
# isupper()	              Returns True if all characters in the string are upper case
# join()	                Joins the elements of an iterable to the end of the string
# ljust()                 Returns a left justified version of the string
# lower()	                Converts a string into lower case
# lstrip()	              Returns a left trim version of the string
# maketrans()           	Returns a translation table to be used in translations
# partition()            	Returns a tuple where the string is parted into three parts
# replace()	              Returns a string where a specified value is replaced with a specified value
# rfind()	                Searches the string for a specified value and returns the last position of where it was found
# rindex()	              Searches the string for a specified value and returns the last position of where it was found
# rjust()	                Returns a right justified version of the string
# rpartition()	          Returns a tuple where the string is parted into three parts
# rsplit()	              Splits the string at the specified separator, and returns a list
# rstrip()	              Returns a right trim version of the string
# split()	                Splits the string at the specified separator, and returns a list
# splitlines()	          Splits the string at line breaks and returns a list
# startswith()	          Returns true if the string starts with the specified value
# strip()	                Returns a trimmed version of the string
# swapcase()	            Swaps cases, lower case becomes upper case and vice versa
# title()	                Converts the first character of each word to upper case
# translate()	            Returns a translated string
# upper()	                Converts a string into upper case
# zfill()	                Fills the string with a specified number of 0 values at the beginning

In [ ]:
a=input("Enter value  :- ")
for i in a:
  print(i)
a.split()

Enter value  :- rfwrvgwv
r
f
w
r
v
g
w
v

In [ ]:
a="my name is soumitra"
for i in a.split():
  print(i)

my
name
is
soumitra

In [ ]:
a="machine learning"
len(a)

16

In [ ]:
a="machine learning"
count=0
for i in a:
  count=count+1
print(count)

16